.sellerInfo {
  width: auto;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: -1px 1px 5px grey;
  font-family: Helvetica, sans-serif;
}
div.sellerInfo > div {
  padding: 2%;
}
div.sellerInfo > hr {
  width: 93%;
  border-style: dashed;
  color: rgba(0, 0, 0, 0.5);
}
.sellerName {
  color: purple;
}
.sellerName:hover {
  color: blue;
}
.sellerRating {
  color: blue;
}
.sellerLink {
  color: blue;
}
.sellerEmail {
  color: blue;
  text-decoration: none;
}
.sellerEmail:hover,
.sellerLink:hover {
  text-decoration: underline;
}
