.image {
  border-style: solid;
  border-color: #bfc1c1;
  border-width: 1px;
  height: 76px;
  width: 76px;
  margin: 1px;
  padding: 1px;
}

.image:hover {
  border-color: #000000;
}

.image[value="true"] {
  border-color: #000000;
  border-width: 2px;
  padding: 0px;
}

.image:active {
  border-color: #2B87BE;
}