:local(.payment) {
  border-collapse: collapse;
  font-size: 16px;
  font-family: helvetica, arial, sans-serif;
  width: 98%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

:local(.payment-outside-border) {
  border: 1px solid black;
}

:local(.payment-header) {
  border-bottom: 1px solid black;
  border-collapse: collapse;
  background-color: #e8eaed;
}

:local(th) {
  height: 40px;
  text-align: left;
}

:local(td) {
  height: 30px;
  text-align: left;
}

:local(.paypal) {
  max-width: 100%;
  height: 50px;
}
